<header>
	
	<nav>
		<li><%= link_to root_path, class: 'navbar-brand' do %>
       MDC Instamap
      <% end %>
		</li>
		
		<div id="nav">
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %>
      <%= link_to "Admin Panel", 'admin' %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %>
    
    Current user is: <%= current_user %>
  </div>
  
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
	
	</nav>
	
	
</header>