<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	
  <title>MDC Instagram on Rails!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  
</head>

<body>
	
	<%= render 'layouts/header' %>
	
  <div id="container">
    
    <%= yield %>
    
  </div>
  	
</body>

	<!-- leaflet -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
	<!--<script src="/assets/leaflet.js">-->
	
</html>
