<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	
  <title>Thinklist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>

<body>
  <div class="container">
    
    <%= render 'layouts/header' %>
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>

    <%= yield %>
  </div>
  
</body>

	<script src="https://login.persona.org/include.js"></script>

</html>
